certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.2
idna==3.10
iniconfig==2.0.0
numpy==2.2.4
packaging==24.1
pandas==2.2.3
pluggy==1.5.0
pycparser==2.22
pytest==8.3.3
pytest-dotenv==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
six==1.17.0
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
